In [39]:
import pandas as pd
import ast

In [40]:
df = pd.read_csv(r'C:\Users\MutukunduNandaKumarR\Downloads\MOCK_TIMESHEETDATA.csv')

In [41]:
df.head()

,_id,startDate,endDate,userEmail,userName,activities.name,activities.hours.comment,totalHoursPerDay,totalHours
0,4C087EDad6E13d59EeB8AEFB,2024-03-03T23:22:57Z,2024-01-14T13:34:36Z,sgellan0@wikipedia.org,Sherye Gellan,BAU Activity,Average,"[5, 8, 3, 9, 0, 6, 7]",21
1,AAA29F5Afed37aEB309b6cbf,2024-01-13T15:01:43Z,2024-04-13T11:16:15Z,pgovan1@ow.ly,Pincus Govan,BAU Activity,Excellent,"[5, 0, 4, 4, 0, 9, 9]",18
2,a4aFe2e9eEBa1Fa7EBE9EcdC,2024-03-29T16:07:39Z,2024-03-03T06:26:15Z,mmcindoe2@umn.edu,Mitchel McIndoe,Sales Activity,Excellent,"[2, 10, 0, 5, 1, 8, 4]",14
3,aF781fDdCeaBb33ef00fBabe,2024-01-07T18:13:20Z,2024-05-13T05:44:39Z,ckendal3@ucsd.edu,Cornie Kendal,Sales Activity,Very Poor,"[4, 0, 7, 6, 9, 4, 4]",12
4,cC1ACD9afcdEA25BcC9aca4D,2024-05-05T00:34:53Z,2024-04-06T13:15:52Z,rphillipps4@rediff.com,Rancell Phillipps,BAU Activity,Good,"[8, 8, 10, 2, 3, 2, 0]",10

In [42]:
df['totalHoursPerDay'] = df['totalHoursPerDay'].apply(ast.literal_eval)

In [43]:
df['totalHours'] = df['totalHoursPerDay'].apply(sum)

In [45]:
df.to_csv('converted.csv',index=None)