In [9]:
import pandas as pd
import ast
import random

In [40]:
df = pd.read_csv(r'C:\Users\MutukunduNandaKumarR\Downloads\MOCK_TIMESHEETDATA.csv')

In [41]:
df.head()

,_id,startDate,endDate,userEmail,userName,activities.name,activities.hours.comment,totalHoursPerDay,totalHours
0,4C087EDad6E13d59EeB8AEFB,2024-03-03T23:22:57Z,2024-01-14T13:34:36Z,sgellan0@wikipedia.org,Sherye Gellan,BAU Activity,Average,"[5, 8, 3, 9, 0, 6, 7]",21
1,AAA29F5Afed37aEB309b6cbf,2024-01-13T15:01:43Z,2024-04-13T11:16:15Z,pgovan1@ow.ly,Pincus Govan,BAU Activity,Excellent,"[5, 0, 4, 4, 0, 9, 9]",18
2,a4aFe2e9eEBa1Fa7EBE9EcdC,2024-03-29T16:07:39Z,2024-03-03T06:26:15Z,mmcindoe2@umn.edu,Mitchel McIndoe,Sales Activity,Excellent,"[2, 10, 0, 5, 1, 8, 4]",14
3,aF781fDdCeaBb33ef00fBabe,2024-01-07T18:13:20Z,2024-05-13T05:44:39Z,ckendal3@ucsd.edu,Cornie Kendal,Sales Activity,Very Poor,"[4, 0, 7, 6, 9, 4, 4]",12
4,cC1ACD9afcdEA25BcC9aca4D,2024-05-05T00:34:53Z,2024-04-06T13:15:52Z,rphillipps4@rediff.com,Rancell Phillipps,BAU Activity,Good,"[8, 8, 10, 2, 3, 2, 0]",10

In [42]:
df['totalHoursPerDay'] = df['totalHoursPerDay'].apply(ast.literal_eval)

In [43]:
df['totalHours'] = df['totalHoursPerDay'].apply(sum)

In [45]:
df.to_csv('converted.csv',index=None)

In [3]:
df1 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\timesheet.csv")

In [4]:
df1.head()

,_id,startDate,endDate,userName,userEmail,Comment,totalHoursPerDay,totalHours,activities
0,4C087EDad6E13d59EeB8AEFB,11/04/2024,14/04/2024,Sherye Gellan,sgellan0@wikipedia.org,Average,"[10, 5, 8, 7, 8, 7, 5]",50,BAU Activity
1,AAA29F5Afed37aEB309b6cbf,10/04/2024,15/04/2024,Pincus Govan,pgovan1@ow.ly,Excellent,"[4, 9, 5, 5, 1, 0, 10]",34,BAU Activity
2,a4aFe2e9eEBa1Fa7EBE9EcdC,10/04/2024,16/04/2024,Mitchel McIndoe,mmcindoe2@umn.edu,Excellent,"[6, 8, 10, 1, 9, 5, 9]",48,Sales Activity
3,aF781fDdCeaBb33ef00fBabe,09/04/2024,15/04/2024,Cornie Kendal,ckendal3@ucsd.edu,Very Poor,"[5, 2, 7, 1, 7, 0, 10]",32,Sales Activity
4,cC1ACD9afcdEA25BcC9aca4D,13/04/2024,19/04/2024,Rancell Phillipps,rphillipps4@rediff.com,Good,"[7, 5, 8, 2, 10, 10, 0]",42,BAU Activity

In [7]:
df2 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Downloads\MOCK_USERDATA.csv")

In [8]:
df2.head()

,id,firstname,lastname,email,password,role
0,bf621f3DEeB1FbD24A0145ac,Rodie,Lovat,rlovat0@washingtonpost.com,$2b$10$/h274.e93KOb.wnf.4M2FlHv..P.X.7.o9A4.sm...,Employee
1,BabeaabDB1A3AaDDe0d0961F,Alyce,Peerman,apeerman1@nymag.com,$2b$10$/FedJL.Bq..idS.eYDU..XSl.0kHjVtweL.kRnL...,Employee
2,BecAdcFeCbedDe6fded2dA73,Ogden,Scalia,oscalia2@qq.com,$2b$10$/h.1SH64..29v..B27U.I.Y.2Q5...Sv...Wbd7...,Employee
3,C2d84edee7FA651d3bE19D28,Fiona,Boulger,fboulger3@discuz.net,$2b$10$/lR.8h.KTWnvMLD7.fb.yz.RK6sVd58hU7.9V.f...,Employee
4,827dA5f3b24F0D51c7C4Ade4,Wyatt,Rennard,wrennard4@ehow.com,$2b$10$/A..9..z...a.91EY3Zd78684vc..99AOA....5...,Employee

In [29]:
for i in range(len(df2)):
    df2['firstname'] = df1['userName'].str.split().str[0]
    df2['lastname'] = df1['userName'].str.split().str[1]
    df2['email'] = df1['userEmail']

In [30]:
df2.head()

,id,firstname,lastname,email,password,role
0,bf621f3DEeB1FbD24A0145ac,Sherye,Gellan,sgellan0@wikipedia.org,$2b$10$/h274.e93KOb.wnf.4M2FlHv..P.X.7.o9A4.sm...,Employee
1,BabeaabDB1A3AaDDe0d0961F,Pincus,Govan,pgovan1@ow.ly,$2b$10$/FedJL.Bq..idS.eYDU..XSl.0kHjVtweL.kRnL...,Employee
2,BecAdcFeCbedDe6fded2dA73,Mitchel,McIndoe,mmcindoe2@umn.edu,$2b$10$/h.1SH64..29v..B27U.I.Y.2Q5...Sv...Wbd7...,Employee
3,C2d84edee7FA651d3bE19D28,Cornie,Kendal,ckendal3@ucsd.edu,$2b$10$/lR.8h.KTWnvMLD7.fb.yz.RK6sVd58hU7.9V.f...,Employee
4,827dA5f3b24F0D51c7C4Ade4,Rancell,Phillipps,rphillipps4@rediff.com,$2b$10$/A..9..z...a.91EY3Zd78684vc..99AOA....5...,Employee

In [32]:
df2.to_csv('userdata.csv', index=False)

In [32]:
df3 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\timesheet.csv")

In [33]:
df3.head()

,_id,startDate,endDate,userName,userEmail,Comment,totalHoursPerDay,totalHours,activities
0,4C087EDad6E13d59EeB8AEFB,11/04/2024,14/04/2024,Sherye Gellan,sgellan0@wikipedia.org,Average,"[10, 5, 8, 7, 8, 7, 5]",50,BAU Activity
1,AAA29F5Afed37aEB309b6cbf,10/04/2024,15/04/2024,Pincus Govan,pgovan1@ow.ly,Excellent,"[4, 9, 5, 5, 1, 0, 10]",34,BAU Activity
2,a4aFe2e9eEBa1Fa7EBE9EcdC,10/04/2024,16/04/2024,Mitchel McIndoe,mmcindoe2@umn.edu,Excellent,"[6, 8, 10, 1, 9, 5, 9]",48,Sales Activity
3,aF781fDdCeaBb33ef00fBabe,09/04/2024,15/04/2024,Cornie Kendal,ckendal3@ucsd.edu,Very Poor,"[5, 2, 7, 1, 7, 0, 10]",32,Sales Activity
4,cC1ACD9afcdEA25BcC9aca4D,13/04/2024,19/04/2024,Rancell Phillipps,rphillipps4@rediff.com,Good,"[7, 5, 8, 2, 10, 10, 0]",42,BAU Activity

In [38]:
dff = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\feedback.csv")

In [40]:
dff['startDate'] = pd.to_datetime(df3['startDate'], format='%d/%m/%Y')

# Add 6 days to 'startDate' and store the result in 'endDate'
dff['endDate'] = df3['startDate'] + pd.DateOffset(days=6)
dff.to_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\feedback.csv",index=False)
dff.head()

,_id,questionid,startDate,endDate,userName,ratings,feedback
0,66139968fc13ae1beeab8e4f,6614d0dbfc13ae602fab8ff5,2024-04-11,2024-04-17,Sherye Gellan,"['Below Average', 'Below Average', 'Very Good'...",Could be better.
1,66139968fc13ae1beeab8e50,6614d0dbfc13ae602fab8ff7,2024-04-10,2024-04-16,Pincus Govan,"['Very Good', 'Terrible', 'Fair', 'Poor', 'Bel...",Could be better.
2,66139968fc13ae1beeab8e51,6614d0dbfc13ae602fab8ff9,2024-04-10,2024-04-16,Mitchel McIndoe,"['Fair', 'Outstanding', 'Outstanding', 'Outsta...",Could be better.
3,66139968fc13ae1beeab8e52,6614d0dbfc13ae602fab8ffb,2024-04-09,2024-04-15,Cornie Kendal,"['Terrible', 'Terrible', 'Fair', 'Outstanding'...",Great job!
4,66139968fc13ae1beeab8e53,6614d0dbfc13ae602fab8ffd,2024-04-13,2024-04-19,Rancell Phillipps,"['Good', 'Average', 'Fair', 'Fair', 'Outstandi...",Could be better.

In [34]:
df3['startDate'] = pd.to_datetime(df3['startDate'], format='%d/%m/%Y')

# Add 6 days to 'startDate' and store the result in 'endDate'
df3['endDate'] = df3['startDate'] + pd.DateOffset(days=6)
df3.head()

,_id,startDate,endDate,userName,userEmail,Comment,totalHoursPerDay,totalHours,activities
0,4C087EDad6E13d59EeB8AEFB,2024-04-11,2024-04-17,Sherye Gellan,sgellan0@wikipedia.org,Average,"[10, 5, 8, 7, 8, 7, 5]",50,BAU Activity
1,AAA29F5Afed37aEB309b6cbf,2024-04-10,2024-04-16,Pincus Govan,pgovan1@ow.ly,Excellent,"[4, 9, 5, 5, 1, 0, 10]",34,BAU Activity
2,a4aFe2e9eEBa1Fa7EBE9EcdC,2024-04-10,2024-04-16,Mitchel McIndoe,mmcindoe2@umn.edu,Excellent,"[6, 8, 10, 1, 9, 5, 9]",48,Sales Activity
3,aF781fDdCeaBb33ef00fBabe,2024-04-09,2024-04-15,Cornie Kendal,ckendal3@ucsd.edu,Very Poor,"[5, 2, 7, 1, 7, 0, 10]",32,Sales Activity
4,cC1ACD9afcdEA25BcC9aca4D,2024-04-13,2024-04-19,Rancell Phillipps,rphillipps4@rediff.com,Good,"[7, 5, 8, 2, 10, 10, 0]",42,BAU Activity

In [31]:
min_value_first_5 = 0
max_value_first_5 = 10  # Range for the first 5 values
min_value_last_2 = 0
max_value_last_2 = 10  # Range for the last 2 values

# Function to generate array of random numbers for each row
def generate_random_values():
    # Generate random numbers for the first 5 values
    first_5_values = [random.randint(min_value_first_5, max_value_first_5) for _ in range(5)]
    # Generate random numbers for the last 2 values
    last_2_values = [random.randint(min_value_last_2, max_value_last_2) for _ in range(2)]
    # Concatenate the two lists
    return first_5_values + last_2_values

# Generate list of lists containing random values for each row
random_values_list = [generate_random_values() for _ in range(len(df3))]

# Assign the generated list of lists to a new column in DataFrame df3
df3['totalHoursPerDay'] = random_values_list
df3['totalHours'] = df3['totalHoursPerDay'].apply(sum)

In [35]:
df3.head()

,_id,startDate,endDate,userName,userEmail,Comment,totalHoursPerDay,totalHours,activities
0,4C087EDad6E13d59EeB8AEFB,2024-04-11,2024-04-17,Sherye Gellan,sgellan0@wikipedia.org,Average,"[10, 5, 8, 7, 8, 7, 5]",50,BAU Activity
1,AAA29F5Afed37aEB309b6cbf,2024-04-10,2024-04-16,Pincus Govan,pgovan1@ow.ly,Excellent,"[4, 9, 5, 5, 1, 0, 10]",34,BAU Activity
2,a4aFe2e9eEBa1Fa7EBE9EcdC,2024-04-10,2024-04-16,Mitchel McIndoe,mmcindoe2@umn.edu,Excellent,"[6, 8, 10, 1, 9, 5, 9]",48,Sales Activity
3,aF781fDdCeaBb33ef00fBabe,2024-04-09,2024-04-15,Cornie Kendal,ckendal3@ucsd.edu,Very Poor,"[5, 2, 7, 1, 7, 0, 10]",32,Sales Activity
4,cC1ACD9afcdEA25BcC9aca4D,2024-04-13,2024-04-19,Rancell Phillipps,rphillipps4@rediff.com,Good,"[7, 5, 8, 2, 10, 10, 0]",42,BAU Activity

In [36]:
df3.isnull().sum()

_id                 0
startDate           0
endDate             0
userName            0
userEmail           0
Comment             0
totalHoursPerDay    0
totalHours          0
activities          0
dtype: int64

In [37]:
df3.to_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\timesheet.csv",index=None)

In [118]:
df4 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\questions.csv", usecols=['questions'])

In [119]:
df4.head()

                                           questions
0  ["On a scale of 0 to 5, how well did your skil...
1  ["On a scale of 0 to 5, how well did your skil...
2  ["On a scale of 0 to 5, how well did your skil...
3  ["On a scale of 0 to 5, how well did your skil...
4  ["On a scale of 0 to 5, how well did your skil...

In [120]:
df5 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\feedback.csv",usecols=['userName', 'ratings'])

In [121]:
df5.head()

            userName                                            ratings
0      Sherye Gellan  ['Below Average', 'Below Average', 'Very Good'...
1       Pincus Govan  ['Very Good', 'Terrible', 'Fair', 'Poor', 'Bel...
2    Mitchel McIndoe  ['Fair', 'Outstanding', 'Outstanding', 'Outsta...
3      Cornie Kendal  ['Terrible', 'Terrible', 'Fair', 'Outstanding'...
4  Rancell Phillipps  ['Good', 'Average', 'Fair', 'Fair', 'Outstandi...

In [127]:
df6 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Engineering\staging_raw_data\feedback.csv", usecols=['feedback'])

In [128]:
df6.head()

           feedback
0  Could be better.
1  Could be better.
2  Could be better.
3        Great job!
4  Could be better.

In [130]:
df7 = pd.read_csv(r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Science\Questions_and_rating.csv")

In [131]:
df7['userName'] = df5['userName']
df7['questions'] = df4['questions']
df7['ratings'] = df5['ratings']
df7['feedback'] = df6['feedback']

In [132]:
output_file_path = r"C:\Users\MutukunduNandaKumarR\Desktop\Final_Project\Data_Science\Questions_and_rating.csv"
df7.to_csv(output_file_path, index=False)