### Import statements

In [44]:
import pandas as pd
from pymongo import MongoClient
import pymongo

### Read Data from csv

In [45]:
# Read CSV file into a pandas DataFrame
df = pd.read_csv(r'C:\Users\MutukunduNandaKumarR\Downloads\MOCK_USERDATA.csv')

### Connection with Backend Database

In [46]:
# Connect to MongoDB
connection_url = 'mongodb+srv://NandaKumar:Nandareddy%40123@cluster0.s9jwc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
client = pymongo.MongoClient(connection_url)
client.list_database_names()

['CustomerData', 'sample_mflix', 'your_database_name', 'admin', 'local']

In [52]:
# database name
db = client['CustomerData'] 

# collection name
collection = db['UserData']

### Updating/Inserting in the UserData table

In [54]:
for _, row in df.iterrows():
    document = {
        "_id": row["id"],
        "firstname": row["first_name"],
        "lastname": row["last_name"],
        "email": row["email"],
        "password": row["password"],
        "role": row["role"]
    }
    collection.update_one({"_id": row["id"]}, {"$set": document}, upsert=True)

In [51]:
field_to_delete = "first_name"  # Replace "field_name_to_delete" with the name of the field to delete

# Update all documents in the collection to remove the specified field
collection.update_many({}, {"$unset": {field_to_delete: ""}})

UpdateResult({'n': 1005, 'electionId': ObjectId('7fffffff0000000000000019'), 'opTime': {'ts': Timestamp(1712231649, 1002), 't': 25}, 'nModified': 1000, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1712231649, 1002), 'signature': {'hash': b'\x98\x8c\x95\x08E\x0f,\xb0E\x89\xbe\x95\x0b\x8d\xeb\xc6p\x04\xa2\x90', 'keyId': 7326589791745605637}}, 'operationTime': Timestamp(1712231649, 1002), 'updatedExisting': True}, acknowledged=True)

### Same Process Repeating For TimeSheet Table

In [35]:
df2 = pd.read_csv(r'C:\Users\MutukunduNandaKumarR\converted.csv')

In [36]:
df2.head()

,_id,startDate,endDate,userEmail,userName,activities.name,activities.hours.comment,totalHoursPerDay,totalHours
0,4C087EDad6E13d59EeB8AEFB,2024-03-03T23:22:57Z,2024-01-14T13:34:36Z,sgellan0@wikipedia.org,Sherye Gellan,BAU Activity,Average,"[5, 8, 3, 9, 0, 6, 7]",38
1,AAA29F5Afed37aEB309b6cbf,2024-01-13T15:01:43Z,2024-04-13T11:16:15Z,pgovan1@ow.ly,Pincus Govan,BAU Activity,Excellent,"[5, 0, 4, 4, 0, 9, 9]",31
2,a4aFe2e9eEBa1Fa7EBE9EcdC,2024-03-29T16:07:39Z,2024-03-03T06:26:15Z,mmcindoe2@umn.edu,Mitchel McIndoe,Sales Activity,Excellent,"[2, 10, 0, 5, 1, 8, 4]",30
3,aF781fDdCeaBb33ef00fBabe,2024-01-07T18:13:20Z,2024-05-13T05:44:39Z,ckendal3@ucsd.edu,Cornie Kendal,Sales Activity,Very Poor,"[4, 0, 7, 6, 9, 4, 4]",34
4,cC1ACD9afcdEA25BcC9aca4D,2024-05-05T00:34:53Z,2024-04-06T13:15:52Z,rphillipps4@rediff.com,Rancell Phillipps,BAU Activity,Good,"[8, 8, 10, 2, 3, 2, 0]",33

In [37]:
# collection
collection2 = db['TimeSheetData']

### Updating/Inserting in the UserData table

In [41]:
for _, row in df2.iterrows():
    document = {
        "_id": row["_id"],
        "startDate": row["startDate"],
        "endDate": row["endDate"],
        "userEmail": row["userEmail"],
        "userName": row["userName"],
        "activities": row["activities.name"],
        "Comment" : row["activities.hours.comment"],
        "totalHoursPerDay" : row["totalHoursPerDay"],
        "totalHours" : row["totalHours"]
    }
    collection2.update_one({"_id": row["_id"]}, {"$set": document}, upsert=True)